body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
    color: black;
    font-size: 14px;
    font-style: bold;
}

.clearfix:after {
  content:'';  
  display: table;
  width: 100%;
  clear: both;
}

header {
    background-color: #272727;
    height: 593px;
    max-width: 100%;

}

.container {
    width: 607px;
    margin: 0 auto;

}

.logo {
    padding-top: 47px;
    float: left;
    font-size: 24pt;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.gotoweb {
    padding-top: 60px;
    float: right;
    font-size: 12pt;
    color: #fff;
    margin: 0;
    

}

hr {
    border: none;
    margin: 84px -99px 0 0;
    background-color: white;
    float: right;
    width: 99px;
    height: 2px;

    
}

.websites {
    margin-top: 85px;
    font-family: Roboto;
    color: white;
    font-size: 28pt;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    
}

.just {
    color: white;
    font-size: 36pt;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
}

.macbook {
    display:block;
    margin: 0 auto;

}

.lorem-text {
    margin: 50px 0 50px 0;
    line-height: 2;
    text-align: center;
    font-size: 14pt;
    color: #999999;
}

.create-button {
 
 display: block;
 background: #34a56d;
 color: white;
 width: 210px;
 height: 40px;
 border-radius: 35px; 
 text-decoration: none;
 text-align: center;  
 font-size: 12pt;
 font-weight: bold;
 text-transform: uppercase;
 padding-top: 18px;
 margin: 0 auto;
}

.leftcol {
    display: inline-block;
    float: left;
    font-size: 12pt;
    color: #cccccc;
    padding-top: 85px;

    
}

.leftcol-img {
    margin-top: 113px;
    float: right;
}

.rightcol {
    display: inline-block;
    float: right;
    font-size: 12pt;
    color: #cccccc;
    margin-top: 80px;
}

.rightcol-img {
    margin-top: 107px;
    float: left;
}

.green-container {

    margin-top: 102px;
    align-items: center;
    width: 100%;
    height: 178px;
    background-color: #34a56d; 

    
}

.green-container p {
    padding: 44px 0 0 0;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

.green-container h3 {
    color: white;
    font-size: 17px;
    font-weight: 300;
    


}

.sign-up {
    float: right;
    display: block;
 background: white;
 color: #34a56d;
 width: 140px;
 height: 35px;
 border-radius: 30px; 
 text-decoration: none;
 text-align: center;  
 font-size: 16px;
 font-weight: bold;
 text-transform: uppercase;
 margin-top: -77px;
 padding-top: 15px;
}

.slider {
    text-align: center;
    margin-top: 81px;
}

.slider h3 {
    font-size: 24px;
    font-weight: 400;

}

.slider p {
    font-size: 14px;
    color: #999999;
    line-height: 2;
}

footer {
     width: 100%;
    height: 164px;
  background-color: #f1f1f1; 
  margin-top: 88px;
}

.copyright {
    padding-top: 37px;
    float: left;
    font-size: 12px;
    line-height: 2;
    color: #999999;
}

.copyright p {
    font-size: 15px;
    margin: 0;
}

.soc-icons {
    padding-top: 37px;
    float: right;

}
